.inf_img{
    width: 350px;
    height: 350px;
    margin-top: 30px;
    border-radius: 20px;
    object-fit:cover;
}
.img2{
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: white;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
}
.imgs{
    display: flex;
}
/* .txt1{
    margin-top: 40px;
} */
.tomon{
    display: flex;
    justify-content: space-evenly;
}
.card2{
    width: 350px;
    height: 350px;
    margin-top: 50px;
}
.card3{
    display: flex;
    margin-top: 70px;
}
.lorem{
    width: 350px;
    /* margin-top: 80px; */
    margin-left: 50px;
}
.price{
    margin-top: 20px;
    font-family: 'Times New Roman';
}

.korz{
    width: 250px;
    border: 1px solid #4117ea;
    color: #4117ea;
    background-color: silver;
    height: 45px;
    transition: 0.5s;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 25px;
}
.korz:hover{
    color: white;
    background-color: #4117ea;
    transition: 0.5s;
}