.img{
  text-align: center;
}
.card{
  border: none;
  border-radius: 30px;
}
.name{
 margin-top: 10px;
}
.learn{
  border: 1px solid #4117ea;
  color: white;
  background-color: #4117ea;
  height: 45px;
  /* transition: 0.5s; */
  margin-top: 10px;
  border-radius: 10px;
}
.like {
  color: orangered;
  position: absolute;
  top: 0;
  right: 0;
}