.iphone13 {
  margin-top: -305px;
  margin-left: 800px;
}
.img {
  width: 200px;
  object-fit: cover;
  margin-top: 20px;
  height: 250px;
}
.card1{
    width:350px;
    background-color: white;
    border: none;
    height: 400px;
    border-radius: 25px;
    margin-left: 50px;
    margin-top: 20px;
    text-align: center;
}
.omega {
  /* background-color: black; */
  padding-left: 50px;
  padding-top: 50px;

  display: flex;
  flex-wrap: wrap;
}
.name{
 margin-top: 10px;
}
.batafsil{
    width: 250px;
    border: 1px solid #4117ea;
    color: #4117ea;
    background-color: white;
    height: 45px;
    transition: 0.5s;
    margin-top: 10px;
    border-radius: 10px;
}
.batafsil:hover{
    color: white;
    background-color: #4117ea;
    transition: 0.5s;
}
.like {
  color: orangered;
  position: absolute;
  top: 0;
  right: 0;
}
